.left-side{
    top:0;
    padding: 9px;
    margin-left: o;
    position:fixed;
    background-color: rgb(130, 84, 128);
    margin-left: 30px;
    height: 250vh;



}

.right-side{
    top:0;
    margin-left: 350px;
    background-color: rgb(161, 150, 108);
    margin-right: 25px;
    height: 250vh;


}

p{
    text-align: left;
    margin: 40px;
}


.side-headings{
    
    margin-left: 20px;
}

p{
    margin-left: 50px;
}

.unorder-list{
    margin-left: 65px;
}

.unorder-list-left{
    margin-left: 10px;
}












img{
    width: 300px;
    margin-top: 8px;
}
