 .left-side{
    top:8.5px;
    padding: 9px;
    margin-left: 0;
    position:fixed;
    background-color: rgb(131, 104, 76);
    margin-left: 30px;
    height: 250vh;
    width: 550PX;
    zoom: 1;



}


.right-side{
    top:10px;
    margin-left: 600px;
    background-color: rgb(161, 150, 108);
    margin-right: 25px;
    height: 250vh;
    /* position: fixed; */


}

p{
    text-align: left ;
    margin: 40px;
    font-size: 30px;
}

.heading-color{
    text-align: center;
}

.side-headings{
    padding: 10px;
    font-size: 30px;
    margin-left: 40px;
    color: rgb(2, 48, 12);
}

p{
    margin-left: 80px;
}

.unorder-list{
    margin-left: 200px;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.unorder-list-left{
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
   
}

 img{
    width:500px;
    margin-top:0;
    padding: 26px; 
    padding-block-end: 26px;
   
}
img{
    border: solid black;
}

.background-color-changeing{
    background-color: rgb(224, 57, 239);
    border: 10px solid rgb(194, 61, 61);
    
}





table,td {
    table-layout:auto;
    text-align:center;
    background-color: rgb(212, 123, 123);
    border: solid black 1px;
    margin: 70px;
    width: 1700px; 
    height: 60px;
    border-collapse: collapse;
    margin-top: 0px;
    margin-left: 300px;
  
    
}
thead{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

tbody{
    text-align: justify;
    font-size: 20px;
    text-align:left;
    
}

body{
    
    display: flex;
    justify-content:left;
    overflow-x: auto;
}

html{
    transform-origin:center center;
    width: 100%;
}

 .skills{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 1000px; 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skills ul{
    margin-left: 210px;
} 


.SOFTSKILLS{
    
}